@import "../../App.scss";
#desktop-menu {
    width: 28%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #2c2c2c;
    overflow: hidden;
    padding-left: 24px;
    box-sizing: border-box;
    
    @include for-phone-only {
      width: 80%;
      
    }
    @include for-tablet-only {
      width: 40%;
    }

    img{
        width: 145px;
        height: 48px;
        margin-top: 24px;
        margin-bottom: 55px;
    }
    p{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
    }
}